<dt>
<img src="[% base_path %]icon_lang_he.png" alt="סמל עברית" class="symbol" />
			&lrm;&rlm;
			<a href="http://www.regoplus.com/">רגו פלוס</a>
			&lrm;&rlm;
			</dt>
<dd>החברה עוסקת בהדרכה, תמיכה, אינטגרציה והתמעה של פתרונות קוד פתוח בעסקים ואירגונים. מוצר הדגל של החברה הוא רגו+124 המאפשר למספר משתמשים לעבוד על אותו המחשב הפיזי בלי צורך ברשת.</dd>
